.container {
  height: 60px;

  .wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      flex: 1;
      display: flex;
      align-items: center;

      .language {
        font-size: 14px;
        cursor: pointer;
      }

      .searchContainer {
        border: 0.5px solid lightgray;
        display: flex;
        align-items: center;
        margin-left: 25px;
        padding: 5px;

        .input {
          border: none;
        }
      }
    }

    .center {
      flex: 1;
      text-align: center;

      .logo {
        font-weight: bold;
      }
    }

    .right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .menuItem {
        font-size: 14px;
        cursor: pointer;
        margin-left: 25px;
      }

      .topbarIconContainer {
        position: relative;
        cursor: pointer;
        margin-right: 10px;
        color: #555;

        .topIconBadge {
          position: absolute;
          top: -8px;
          right: -5px;
          display: flex;
          align-items: center;
          justify-content: center;

          width: 15px;
          height: 15px;
          background-color: red;
          color: white;
          border-radius: 50%;
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    height: 50px;

    .wrapper {
      padding: 10px 0px;

      .language {
        display: none;
      }

      .input {
        width: 50px;
      }

      .logo {
        font-size: 24px;
      }

      .right {
        flex: 2;
        justify-content: center;

        .menuItem {
          font-size: 12px;
          margin-left: 10px;
        }
      }
    }
  }
}
